# fly.toml app configuration file generated for msainv on 2025-11-04T13:00:37Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'msainv'
primary_region = 'bos'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
